@import '../../base/reset';
@import './navbar';
@import './content';
@import './sidebar';
@import './footer';

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 88% 2%;
}
a {
    text-decoration: none;
    color: $text;
    &:hover {
        color: $text-hover;
    }
}