$red-1: #FF3400;
$red-2: #E8220C;
$red-3: #FF0000;
$red-4: #E80C58;
$red-5: #FF0DB6;

$orange-1: #FFCA00;
$orange-2: #E8AA0C;
$orange-3: #FFA500;
$orange-4: #E88B0C;
$orange-5: #FF800D;

$yellow-1: #EDFF00;
$yellow-2: #E1E80C;
$yellow-3: #FFFF00;
$yellow-4: #E8E60C;
$yellow-5: #FFFA0D;

$green-1: #01FF7D;
$green-2: #0CE841;
$green-3: #00FF00;
$green-4: #4DE80C;
$green-5: #9DFF0D;

$blue-1: #0032FA;
$blue-2: #0B5CDE;
$blue-3: #018BF5;
$blue-4: #0BA9DE;
$blue-5: #0DEFFF;

$purple-1: #5907F5;
$purple-2: #7211D9;
$purple-3: #A01FF0;
$purple-4: #A711D9;
$purple-5: #E114FC;

$footer-background: #000000;
$footer-text: #FFFFFF;
$footer-hover: #D8D8D8;
$text: #000;
$text-hover: #484848;

$navbar-background: gray;
$sidebar-background: lightgray;
$background: #FFF;