@import '../../themes/theme';

.footer {
    background-color: $footer-background;
    color: $footer-text;
    text-align: center;
    position: relative;
    top: 0;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    p {
        position: relative;
        top: -12px;
    }
}
#contactUs {
    text-decoration: none;
    color: $footer-text;
    &:hover {
        color: $footer-hover;
    }
}