@import '../../base/reset';
@import './navbar';
@import './sidebar';
@import './content';
@import './footer';
@import '../../themes/theme';

.container {
    border: 1px black solid;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 88% 2%;
}
a {
    text-decoration: none;
    color: $text;
    &:hover {
        color: $text-hover;
    }
}